body {
    background-color: #91D3E7;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

button {
    font-size: 24px;
    padding: 20px;
    margin: 10vh;
    border: none;
    border-radius: 50px;
    width: 30vh;
    background-color: #DAA520;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Different colors for each button */
#toggleButton {
    background-color: #228B22; /* Green */
}

#playButton {
    background-color: #16449d; /* Steel Blue */
}

#downloadButton {
    background-color: #DAA520; /* Gold */
}

button:hover {
    opacity: 0.8; /* Slight transparency when hovered */
}

/* Container for buttons */
.container {
    text-align: center;
}

#meisje{
    position: absolute;
    bottom: -10%;  /* Negative value for a small overflow */
    right: 0;
    width: 20%;  /* Adjust as needed */
    height: auto;  /* Maintain aspect ratio */
    z-index: -1; 
}